version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: m_motors_project_db
    restart: always
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpassword
      POSTGRES_DB: mydatabase_m_motors
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: